<template name="PurchaseordersInsert">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> PurchaseordersInsertInsertForm}}
</template>

<template name="PurchaseordersInsertInsertForm">
	<div id="purchaseorders-insert-insert-form" class="container ">
		<h4>
			New purchaseorder - {{this.params.account}}
		</h4>
		<form class="form form_PurchaseordersInsertInsertForm" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-purchaseorder-number">
				<p class="input-field col s12">
					<input type="text" id="field-purchaseorder-number" name="purchaseorderNumber" value="{{nextpurchaseorderNumber}}"  autofocus="autofocus" required="required">
					<label class="{{#if 'nextpurchaseorderNumber'}}active{{/if}}" for="field-purchaseorder-number">
						Number
					</label>
				</p>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div class="form-group  field-date">
				<p class="input-field col s12">
					<label class="{{#if (formatDate 'today' 'MM-DD-YYYY')}}active{{/if}}" for="field-date">
						Created Date
					</label>
					<i class="material-icons prefix">
						event_note
					</i>
					<input type="text" id="field-date" name="date" value="{{formatDate 'today' 'MM-DD-YYYY'}}"  required="required" data-type="date" data-format="MM-DD-YYYY">
				</p>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div class="form-group  field-supplier-id">
				<select class="dropdown" name="supplierId"  required="required">
					<option value="" disabled selected>						Choose supplier</option>
					{{#each supplier_list}}
					<option value="{{_id}}">						{{name}}</option>
					{{/each}}
				</select>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div>
				<p class="input-field col s12 submit-div">
					<button id="form-submit-button" class="btn waves-effect waves-light" type="submit">
						<i class="material-icons right">
							check
						</i>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn">
						Cancel
					</a>
				</p>
			</div>
		</form>
	</div>
</template>

