<template name="MembersDetails">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> MembersDetailsDetailsForm}}
</template>

<template name="MembersDetailsDetailsForm">
	<div id="members-details-details-form" class="container ">
		<div id="form-back-button" class="waves-effect waves-light btn">
			<i class="material-icons left">
				reply
			</i>
			Back
		</div>
		<h4>
			Details
		</h4>
		<form class="form form_MembersDetailsDetailsForm" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-member-id">
				<p class="input-field col s12">
					<input readonly id="field-member-id" value="{{member_details.memberId}}" type="text" >
					<label class="{{#if member_details.memberId}}active{{/if}}" for="field-member-id">
						Member Id
					</label>
				</p>
			</div>
			<div class="form-group  field-name">
				<p class="input-field col s12">
					<input readonly id="field-name" value="{{member_details.name}}" type="text" >
					<label class="{{#if member_details.name}}active{{/if}}" for="field-name">
						Name
					</label>
				</p>
			</div>
			<div class="form-group  field-phone">
				<p class="input-field col s12">
					<input readonly id="field-phone" value="{{member_details.phone}}" type="text" >
					<label class="{{#if member_details.phone}}active{{/if}}" for="field-phone">
						Phone
					</label>
				</p>
			</div>
			<div class="form-group  field-email">
				<p class="input-field col s12">
					<input readonly id="field-email" value="{{member_details.email}}" type="text" >
					<label class="{{#if member_details.email}}active{{/if}}" for="field-email">
						E-mail
					</label>
				</p>
			</div>
			<div class="form-group  field-website">
				<p class="input-field col s12">
					<input readonly id="field-website" value="{{member_details.website}}" type="text" >
					<label class="{{#if member_details.website}}active{{/if}}" for="field-website">
						Website
					</label>
				</p>
			</div>
			<div class="form-group  field-address">
				<p class="input-field col s12">
					<input readonly id="field-address" value="{{member_details.address}}" type="text" >
					<label class="{{#if member_details.address}}active{{/if}}" for="field-address">
						Address
					</label>
				</p>
			</div>
			<div class="form-group  field-note">
				<p class="input-field col s12">
					<input readonly id="field-note" value="{{member_details.note}}" type="text" >
					<label class="{{#if member_details.note}}active{{/if}}" for="field-note">
						Note
					</label>
				</p>
			</div>
			<div>
				<p class="input-field col s12 submit-div">
					<a href="#" id="form-close-button" class="btn green">
						OK
					</a>
				</p>
			</div>
		</form>
	</div>
</template>

