<template name="ExpendituresInsert">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> ExpendituresInsertInsertForm}}
</template>

<template name="ExpendituresInsertInsertForm">
	<div id="expenditures-insert-insert-form" class="container ">
		<h4>
			New expenditure
		</h4>
		<form class="form form_ExpendituresInsertInsertForm" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="inline fields form-group  field-type">
				<label for="field-type">
					Type
				</label>
				<div class="field">
					<p class="ui radio checkbox">
						<input id="form-daily" type="radio" value="daily" group="type" name="type" data-type="array" autofocus="autofocus" checked>
						<label for="form-daily">
							Daily
						</label>
					</p>
				</div>
				<div class="field">
					<p class="ui radio checkbox">
						<input id="form-touring" type="radio" value="touring" group="type" name="type" data-type="array">
						<label for="form-touring">
							Touring
						</label>
					</p>
				</div>
				<div class="field">
					<p class="ui radio checkbox">
						<input id="form-monthly" type="radio" value="monthly" group="type" name="type" data-type="array">
						<label for="form-monthly">
							Monthly
						</label>
					</p>
				</div>
				<div class="field">
					<p class="ui radio checkbox">
						<input id="form-others" type="radio" value="others" group="type" name="type" data-type="array">
						<label for="form-others">
							Others
						</label>
					</p>
				</div>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div class="form-group  field-sub-type">
				<p class="input-field col s12">
					<input type="text" id="field-sub-type" name="subType" value=""  required="required">
					<label class="{{#if ''}}active{{/if}}" for="field-sub-type">
						Sub Type
					</label>
				</p>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div class="form-group  field-date">
				<p class="input-field col s12">
					<label class="{{#if (formatDate 'today' 'MM-DD-YYYY')}}active{{/if}}" for="field-date">
						Date
					</label>
					<i class="material-icons prefix">
						event_note
					</i>
					<input type="text" id="field-date" name="date" value="{{formatDate 'today' 'MM-DD-YYYY'}}"  required="required" data-type="date" data-format="MM-DD-YYYY">
				</p>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div class="form-group  field-total-amount">
				<p class="input-field col s12">
					<input type="text" id="field-total-amount" name="totalAmount" value=""  required="required" data-type="float">
					<label class="{{#if ''}}active{{/if}}" for="field-total-amount">
						Total
					</label>
				</p>
				<span id="help-text" class="help-block">
				</span>
				<span id="error-text" class="help-block">
				</span>
			</div>
			<div>
				<p class="input-field col s12 submit-div">
					<button id="form-submit-button" class="btn waves-effect waves-light" type="submit">
						<i class="material-icons right">
							check
						</i>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn">
						Cancel
					</a>
				</p>
			</div>
		</form>
	</div>
</template>

