<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Scepter-bar
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout privateData}}
	{{else}}
		{{> PublicLayout publicData}}
	{{/if}}
</template>

<template name="PublicLayout">
	<div id="content" class="sticky-wrapper">
		<nav>
			<a href="#!" class="brand-logo center">
				Scepter-bar
			</a>
			<div id="menu" class="nav-wrapper">
				{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
			</div>
		</nav>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
	</div>
</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				<i class="material-icons left">
				</i>
				Home
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
			<a href="{{pathFor 'register'}}">
				<i class="material-icons left">
				</i>
				Register
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				<i class="material-icons left">
				</i>
				Login
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayout">
	<div id="content" class="sticky-wrapper">
		<nav>
			<a href="#!" class="brand-logo center">
				Scepter-bar
			</a>
			<div id="menu" class="nav-wrapper">
				{{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
			</div>
		</nav>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
	</div>
</template>

<template name="PrivateLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">
			<a href="{{pathFor 'home_private'}}">
				<i class="material-icons left">
				</i>
				Home
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'members'}}">
			<a href="{{pathFor 'members'}}">
				<i class="material-icons left">
				</i>
				Members
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'suppliers'}}">
			<a href="{{pathFor 'suppliers'}}">
				<i class="material-icons left">
				</i>
				Suppliers
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'employees'}}">
			<a href="{{pathFor 'employees'}}">
				<i class="material-icons left">
				</i>
				Employees
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'others'}}">
			<a href="{{pathFor 'others'}}">
				<i class="material-icons left">
				</i>
				Contacts
			</a>
		</li>
		<li id="menu-item-dropdown" >
			<li>
				<a class="dropdown-button" href="#!" data-activates="menu-dropdown-products">
					Products
					<i class="material-icons right">
						arrow_drop_down
					</i>
				</a>
			</li>
			<div id="menu-dropdown-products" class="dropdown-content">
				<ul id="menu-items">
					<li class="{{menuItemClass 'products'}}">
						<a href="{{pathFor 'products' account='bar'}}">
							<i class="material-icons left">
							</i>
							Bar
						</a>
					</li>
					<li class="{{menuItemClass 'products'}}">
						<a href="{{pathFor 'products' account='restaurant'}}">
							<i class="material-icons left">
							</i>
							Restaurant
						</a>
					</li>
					<li class="{{menuItemClass 'products'}}">
						<a href="{{pathFor 'products' account='hotel'}}">
							<i class="material-icons left">
							</i>
							Hotel
						</a>
					</li>
					<li class="{{menuItemClass 'products'}}">
						<a href="{{pathFor 'products' account='rehabilitation'}}">
							<i class="material-icons left">
							</i>
							Rehabilitation
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'documents'}}">
			<a href="{{pathFor 'documents'}}">
				<i class="material-icons left">
				</i>
				Documents
			</a>
		</li>
		<li id="menu-item-dropdown" >
			<li>
				<a class="dropdown-button" href="#!" data-activates="menu-dropdown-invoices">
					Invoices
					<i class="material-icons right">
						arrow_drop_down
					</i>
				</a>
			</li>
			<div id="menu-dropdown-invoices" class="dropdown-content">
				<ul id="menu-items">
					<li class="{{menuItemClass 'invoices'}}">
						<a href="{{pathFor 'invoices' account='bar'}}">
							<i class="material-icons left">
							</i>
							Bar
						</a>
					</li>
					<li class="{{menuItemClass 'invoices'}}">
						<a href="{{pathFor 'invoices' account='restaurant'}}">
							<i class="material-icons left">
							</i>
							Restaurant
						</a>
					</li>
					<li class="{{menuItemClass 'invoices'}}">
						<a href="{{pathFor 'invoices' account='hotel'}}">
							<i class="material-icons left">
							</i>
							Hotel
						</a>
					</li>
					<li class="{{menuItemClass 'invoices'}}">
						<a href="{{pathFor 'invoices' account='rehabilitation'}}">
							<i class="material-icons left">
							</i>
							Rehabilitation
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li id="menu-item-dropdown" >
			<li>
				<a class="dropdown-button" href="#!" data-activates="menu-dropdown-po">
					Purchase Order
					<i class="material-icons right">
						arrow_drop_down
					</i>
				</a>
			</li>
			<div id="menu-dropdown" class="dropdown-content-po">
				<ul id="menu-items">
					<li class="{{menuItemClass 'purchaseorders'}}">
						<a href="{{pathFor 'purchaseorders' account='bar'}}">
							<i class="material-icons left">
							</i>
							Bar
						</a>
					</li>
					<li class="{{menuItemClass 'purchaseorders'}}">
						<a href="{{pathFor 'purchaseorders' account='restaurant'}}">
							<i class="material-icons left">
							</i>
							Restaurant
						</a>
					</li>
					<li class="{{menuItemClass 'purchaseorders'}}">
						<a href="{{pathFor 'purchaseorders' account='hotel'}}">
							<i class="material-icons left">
							</i>
							Hotel
						</a>
					</li>
					<li class="{{menuItemClass 'purchaseorders'}}">
						<a href="{{pathFor 'purchaseorders' account='rehabilitation'}}">
							<i class="material-icons left">
							</i>
							Rehabilitation
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'expenditures'}}">
			<a href="{{pathFor 'expenditures'}}">
				<i class="material-icons left">
				</i>
				Expenditure
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'collections'}}">
			<a href="{{pathFor 'collections'}}">
				<i class="material-icons left">
				</i>
				Collections
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'paidouts'}}">
			<a href="{{pathFor 'paidouts'}}">
				<i class="material-icons left">
				</i>
				Paid Out
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-dropdown" >
			<li>
				<a class="dropdown-button" href="#!" data-activates="menu-dropdown">
					{{userEmail}}
					<i class="material-icons right">
						arrow_drop_down
					</i>
				</a>
			</li>
			<div id="menu-dropdown" class="dropdown-content">
				<ul id="menu-items">
					<li class="{{menuItemClass 'user_settings'}}">
						<a href="{{pathFor 'user_settings'}}">
							<i class="material-icons left">
							</i>
							Settings
						</a>
					</li>
					<li class="{{menuItemClass 'logout'}}">
						<a href="{{pathFor 'logout'}}">
							<i class="material-icons left">
							</i>
							Logout
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</template>

