<template name="HomePrivate">
	<br/><br/>
	<div class="row">
		<div class="col s12 m6 l6">
			<div class="row">
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons ">supervisor_account</i>
					<div class="center-align"><a href="{{pathFor 'members'}}" class="red-text darken-3-text">Members</a></div>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">contacts</i>
					<div class="center-align red-text"><a href="{{pathFor 'suppliers'}}" class="red-text darken-3-text">Suppliers</a></div>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">assignment_ind</i>
					<div class="center-align"><a href="{{pathFor 'employees'}}" class="red-text darken-3-text">Employees</a></div>			          	
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">contact_phone</i>
					<div class="center-align"><a href="{{pathFor 'others'}}" class="red-text darken-3-text">Contacts</a></div>
				</div>
			</div>			
			<div class="row">
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons ">receipt</i>
					<div class="center-align">
						<!-- Dropdown Trigger -->
						<a class='dropdown-button red-text darken-3-text' href='#' data-activates='dropdown-invoices'>Invoices</a>
			
						<!-- Dropdown Structure -->
						<ul id='dropdown-invoices' class='dropdown-content'>
							<li class="{{menuItemClass 'invoices'}}">
								<a href="{{pathFor 'invoices' account='bar'}}">
									<i class="material-icons left">
									local_bar
									</i>
									<br/>Bar
								</a>
							</li>
							<li class="{{menuItemClass 'invoices'}}">
								<a href="{{pathFor 'invoices' account='dining'}}">
									<i class="material-icons left">
									local_dining
									</i>
									<br/>Dining
								</a>
							</li>
							<li class="{{menuItemClass 'invoices'}}">
								<a href="{{pathFor 'invoices' account='hotel'}}">
									<i class="material-icons left">
									business
									</i>
									<br/>Hotel
								</a>
							</li>
							<li class="{{menuItemClass 'invoices'}}">
								<a href="{{pathFor 'invoices' account='sports'}}">
									<i class="material-icons left">
									directions_run
									</i>
									<br/>Sports
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">description</i>
					<div class="center-align">
						<!-- Dropdown Trigger -->
						<a class='dropdown-button red-text darken-3-text' href='#' data-activates='dropdown-purchaseorders'>P-Orders</a>
			
						<!-- Dropdown Structure -->
						<ul id='dropdown-purchaseorders' class='dropdown-content'>
							<li class="{{menuItemClass 'purchaseorders'}}">
								<a href="{{pathFor 'purchaseorders' account='bar'}}">
									<i class="material-icons left">
									local_bar
									</i>
									<br/>Bar
								</a>
							</li>
							<li class="{{menuItemClass 'purchaseorders'}}">
								<a href="{{pathFor 'purchaseorders' account='dining'}}">
									<i class="material-icons left">
									local_dining
									</i>
									<br/>Dining
								</a>
							</li>
							<li class="{{menuItemClass 'purchaseorders'}}">
								<a href="{{pathFor 'purchaseorders' account='hotel'}}">
									<i class="material-icons left">
									business
									</i>
									<br/>Hotel
								</a>
							</li>
							<li class="{{menuItemClass 'purchaseorders'}}">
								<a href="{{pathFor 'purchaseorders' account='sports'}}">
									<i class="material-icons left">
									directions_run
									</i>
									<br/>Sports
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">attach_money</i>
			          	<div class="center-align"><a href="{{pathFor 'expenditures'}}" class="red-text darken-3-text">Expenses</a></div>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">card_travel</i>
			          	<div class="center-align"><a href="{{pathFor 'collections'}}" class="red-text darken-3-text">Collections</a></div>
				</div>			
			</div>
			<div class="row">
				<div class="col s3 m3 l3 center-align">
					<i class="medium material-icons">folder_open</i>
					<div class="center-align"><a href="{{pathFor 'documents'}}" class="red-text darken-3-text">Documents</a></div>
				</div>
				<div class="col s3 m3 l3 center-align">
					<i class="medium material-icons ">shopping_cart</i>
			
					<div class="center-align">
						<!-- Dropdown Trigger -->
						<a class='dropdown-button red-text darken-3-text' href='#' data-activates='dropdown-products'>Products</a>
			
						<!-- Dropdown Structure -->
						<ul id='dropdown-products' class='dropdown-content'>
							<li class="{{menuItemClass 'products'}}">
								<a href="{{pathFor 'products' account='bar'}}">
									<i class="material-icons left">
									local_bar
									</i>
									<br/>Bar
								</a>
							</li>
							<li class="{{menuItemClass 'products'}}">
								<a href="{{pathFor 'products' account='dining'}}">
									<i class="material-icons left">
									local_dining
									</i>
									<br/>Dining
								</a>
							</li>
							<li class="{{menuItemClass 'products'}}">
								<a href="{{pathFor 'products' account='hotel'}}">
									<i class="material-icons left">
									business
									</i>
									<br/>Hotel
								</a>
							</li>
							<li class="{{menuItemClass 'products'}}">
								<a href="{{pathFor 'products' account='sports'}}">
									<i class="material-icons left">
									directions_run
									</i>
									<br/>Sports
								</a>
							</li>
						</ul>
					</div>
					<a class="btn" id="dayreport-init-button">Init</a>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">verified_user</i>
					<div class="center-align"><a href="{{pathFor 'admin'}}" class="red-text darken-3-text">Users</a></div>
				</div>
				<div class="col s3 m3 l3 center-align">
			          	<i class="medium material-icons">insert_chart</i>
					<div class="center-align"><a href="#" class="red-text darken-3-text">Reports</a></div>
				</div>
			</div>
		</div>
		
		<!-- Day Report -->
		<div class="col s12 m6 l6">
		  <div class="divider"></div>
		  <div class="section">
		    <h5>Report for {{formatDate dayreport_details.date "DD-MMM-YYYY"}}</h5>
			     <table class="responsive-table">
			        <thead>
			          <tr>
			              <th data-field="id">Account</th>
			              <th data-field="name">Invoices</th>
			              <th data-field="price">Paid</th>
						  <th data-field="price">Credit</th>
						  <th data-field="price">Total</th>
			          </tr>
			        </thead>
			        <tbody>
			          {{#each dayreport_details.summary}}
				          <tr>
				            <td>{{account}}</td>
				            <td>{{invoices}}</td>
				            <td>{{paid}}</td>
							<td>{{credit}}</td>
							<td>{{invoiceTotal paid credit}}</td>
				          </tr>			          	
			          {{/each}}
			        </tbody>
			      </table>
		  </div>
		  <div class="divider"></div>
		  <div class="section">
		    <h5>Summary</h5>
		    <div class="row">
		    	<div class="col s6 m6 l6"><p>Net Credit:</p></div>
		    	<div class="col s4 m4 l4">{{creditTotal}}</div>
		    	<div class="col s2 m2 l2">(-)</div>
		    </div>
		    <div class="row">
		    	<div class="col s6 m6 l6"><p>Net Paid:</p></div>
		    	<div class="col s4 m4 l4">{{paidTotal}}</div>
		    	<div class="col s2 m2 l2">(+)</div>
		    </div>
		    <div class="row">
		    	<div class="col s6 m6 l6"><p>Collections:</p></div>
		    	<div class="col s4 m4 l4">{{dayreport_details.collection}}</div>
		    	<div class="col s2 m2 l2">(+)</div>
		    </div>
		    <div class="row">
		    	<div class="col s6 m6 l6"><p>Expenses:</p></div>
		    	<div class="col s4 m4 l4">{{dayreport_details.expense}}</div>
		    	<div class="col s2 m2 l2">(-)</div>
		    </div>		    
		    <div class="row">
		    	<div class="col s6 m6 l6"><p>Paid Out:</p></div>
		    	<div class="col s4 m4 l4">{{dayreport_details.paidout}}</div>
		    	<div class="col s2 m2 l2">(-)</div>
		    </div>
		  </div>
		  <div class="divider"></div>
		  <div class="section">
		    <h5>Section 3</h5>
		    <p>Stuff</p>
		  </div>
		</div>
	</div>
</template>
