<template name="PaidoutsDetails">
	<div class="container">
		<div id="page_menu" class="pull-right">
		</div>
	</div>
	{{> PaidoutsDetailsDetailsForm}}
</template>

<template name="PaidoutsDetailsDetailsForm">
	<div id="paidouts-details-details-form" class="container ">
		<div id="form-back-button" class="waves-effect waves-light btn">
			<i class="material-icons left">
				reply
			</i>
			Back
		</div>
		<h4>
			Details
		</h4>
		<form class="form form_PaidoutsDetailsDetailsForm" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-date">
				<p class="input-field col s12">
					<input readonly id="field-date" value="{{formatDate paidout_details.date 'MM-DD-YYYY'}}" type="text" >
					<label class="{{#if (formatDate paidout_details.date 'MM-DD-YYYY')}}active{{/if}}" for="field-date">
						Date
					</label>
				</p>
			</div>
			<div class="form-group  field-supplier-name">
				<p class="input-field col s12">
					<input readonly id="field-supplier-name" value="{{paidout_details.supplier.name}}" type="text" >
					<label class="{{#if paidout_details.supplier.name}}active{{/if}}" for="field-supplier-name">
						supplier
					</label>
				</p>
			</div>
			<div class="form-group  field-total-amount">
				<p class="input-field col s12">
					<input readonly id="field-total-amount" value="{{paidout_details.totalAmount}}" type="text" >
					<label class="{{#if paidout_details.totalAmount}}active{{/if}}" for="field-total-amount">
						Total
					</label>
				</p>
			</div>
			<div>
				<p class="input-field col s12 submit-div">
					<a href="#" id="form-close-button" class="btn green">
						OK
					</a>
				</p>
			</div>
		</form>
	</div>
</template>

